.card {
  margin: 0 auto;
  padding: 1rem;
  color: $grey;
  background-color: #fff;
  border-radius: 20px;
  -moz-box-shadow: 0 0 10px #ccc;
  -webkit-box-shadow: 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
}

@media screen and (min-width: 800px) {
  .card {
    min-width: 320px;
  }
}