.chat {
  z-index: 999;
  position: fixed;
  top: 43vh;
  background-color: #fff;
  width: 300px;
  padding: 0.5rem;
  border-radius: 20px;
  border: 2px solid $green;
  height: 400px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  right: 20px;
  padding-bottom: 70px;

  &__header {
    position: fixed;
    width: 295px;
    background-color: #fff;
    top: 43.3vh;
    right: 22px;
    padding-top: 0.5rem;
    padding-left: 1rem;
    border-top-right-radius: 20px;
    padding-bottom: 0.5rem;
    border-top-left-radius: 20px;
  }

  &__box {
    padding-top: 3rem;
  }

  &__bubble {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem 1rem;
    width: 250px;
    border-radius: 20px;
    margin-bottom: 1rem;

    &--coown {
      background-color: lighten($color: $green, $amount: 20%);
    }

    &--user {
      background-color: lighten($color: $beige, $amount: 25%);
      margin-left: 1.9rem;

      &:last-child {
          margin-bottom: 30px;
      }
    }
  }

  &__heading {
    margin: 0;
    font-size: 15px;
    font-weight: 600;
    color: rgb(142, 142, 142);
  }

  &__close {
    width: 30px;
    cursor: pointer;
  }

  &__person {
    width: 30px;
    margin-right: 1rem;
  }

  &__name {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 0;
  }

  &__text {
    margin-bottom: 0;
    font-size: 15px;
  }

  &__input {
    width: 240px;
    border: 2px solid $beige;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
  }

  &__send {
    width: 30px;
    cursor: pointer;
  }

  &__data {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background-color: #fff;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    top: 83vh;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  &__toggle {
    width: 30px;
    position: fixed;
    top: 95vh;
    right: 20px;
    z-index: 999;
  }

  &__btn {
    border: none;
    background-color: #fff;
    padding: 0;
  }
}
