.footer {
    background-color: $teal;
    padding: 1rem;

    &__logo {
        width: 100px;
    }

    &__info-text {
        color: #fff;
        margin-bottom: 0;
    }

    &__link {
        padding: 0;
        padding-right: 1rem;
    }
}