.form {
    &__input {
        border-radius: 20px;
        padding: 0.5rem 1rem;
        border: none;
        width: 100%;
        margin-bottom: 1rem;

        &--border {
            border-radius: 0;
            border-bottom: 2px solid $grey;
        }
    }

    &__error {
        font-size: 12px;
        color: rgb(163, 0, 0);
    }
}