.menu {
    background-image: url('../../img/home.png');

    &__logo {
        width: 50px;
    }

    &__link {
        text-transform: uppercase;
        color: $blue!important;
        font-size: 20px;
        padding: 1rem;

        &--s {
            font-size: 15px;
        }

        &:hover {
            font-weight: 700;
            color: #fff!important;
        }
    }
}

.navbar-dark .navbar-toggler {
    border: none;

}

.navbar-toggler {
    padding: 0;
}