.subheading {
  color: black;
  font-weight: 400;
  margin-bottom: 2rem;
  font-size: 25px;

  &--white {
    color: #fff;
  }

  &--green {
    color: $green;
  }

  &--grey {
    color: $grey;
  }

  &--teal {
    color: $teal;
  }

  &--bold {
    font-weight: 700;
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--capitalize {
    text-transform: capitalize;
  }

  &--center {
    text-align: center;
  }
}
