@import './variables';
@import './base';
@import './partials/menu';
@import './partials/home';
@import './partials/button';
@import './partials/form';
@import './partials/heading';
@import './partials/text';
@import './partials/line';
@import './partials/feedback';
@import './partials/step';
@import './partials/apt';
@import './partials/slider';
@import './partials/aptRes';
@import './partials/subheading';
@import './partials/card';
@import './partials/tag';